html, body {
	background: url('../../_assets/img/gent.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

header {
	width: 100%;
	height: 200px;
	top: 0;
	background: url('../../_assets/img/header.jpg') center center no-repeat;
        background-size: cover;
	clear: both;
	z-index: 98;
}

header h1 {
	width: 350px;
	height: 100px;
	font-size: 50px;
	color: #fff;
	background: rgba(0, 0, 0, 0.3);
        border-radius: 15px;
	line-height: 80px;
	padding: 20px 0;
        margin: 20px 0 0 20px;
        text-align: center;
	float: left;
	font-family: 'Pacifico', cursive;
}

#buttons-header {
	position: absolute;
	float: right;
	right: 0;
	margin: 181px 0 0 0;
	z-index: 98;
}

#buttons-header a {
	width: 80px;
	border: none;
	padding: 5px 10px;
	border: 1px solid #666;
	text-decoration: none; 
	background: #eee;
	color: #000;
}

.btn-login {margin: 3px -6px 0 0;}
.btn-register {margin: 3px 0 0 0;}
#btn-style {margin: 3px 0 0 -6px;}
#buttons-header a:hover {background: #009fe3; color: #fff;}

.btn-success {background: none;}
#output-data, #map_canvas {height: 380px !important; width: 650px !important;}
.gmnoprint:nth-child(4) {display: none;}

#content, #content-profile {
	width: 960px;
	min-height: 80%;
	background: blue;
	clear: both;
	margin: 0 auto;
        margin-top: 50px;
}

#content-profile {
    background: #eee; 
    border: 1px solid #ccc; 
    color: #333;
}

#content-profile a {
    padding: 8px 10px;
    margin-right: 10px;
    background: #000;
    color: #fff;
    text-decoration: none;
}

#choose-data, #show-data {float: left;}

#choose-data {
	width: 260px;
	min-height: 100px;
	color: #fff;
	background: #008045;
	clear: left;
}

#choose-data li {padding: 0 0 10px 0; border-bottom: 1px solid rgba(255, 255, 255, 0.25); clear: both;}
#choose-data li:first-child {border-top: 1px solid rgba(255, 255, 255, 0.25); padding-top: 10px;}
#choose-data li:last-child {border-bottom: none;}

#choose-data li input {
    margin-top: -9px !important;
    top: -10px;
    margin-bottom: 10px !important;
    display: block;
    width: 15px;
    height: 15px;
}

.liRight {float: right; right: 0;}

#choose-data select {margin: 10px 0 0 10px; width: 180px;}

#container {
	position: absolute;
	width: 100%;
	min-height: 89.6%;
}

#spotlight {
    
}

#content h3 {
	font-family: 'Pacifico', cursive;
	font-size: 20px;
        text-align: center;
}

#show-data {
	width: 690px;
	height: 420px;
	background: #008045;
	color: #fff;
	clear: right;
        margin-left: 9px;
}

#detail-data {
    width: 938px;
    height: 280px;
    background: #eee;
    border: 1px solid #008045;
    color: #008045;
    padding: 10px;
    margin-top: 20px;
    display: block;
    float: right;
}

.iwContent, .iwContent {
    background: inherit;
    margin: 0;
    padding: 0;
    color: black;
    width: auto;
    height: auto;
}

#contentIW {max-width: 400px !important; max-height: 300px !important;}

#map_canvas {margin: 10px 0 0 10px;}
#choose-data *, #map_canvas {padding: 10px;}
#views, #view-login, #view-register, #view-forgot {z-index: 99;}

#overlay, #overlay-view {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	background: rgba(0, 0, 0, 0.7);
	z-index: 98; 
	display: none;
}

#list-styles {
	position: absolute;
	width: 100px;
	text-align: right;
	background: #555;
	color: #fff;
	list-style: none;
	margin: 7px 0 0 78px;
	cursor: pointer;
}

#list-styles li {
	padding: 10px;
	border-bottom: 1px solid #ccc;
}

#list-styles li:hover, #list-styles li:active {
	background: #333;
}

.clicked, .cyanBtn {background: #009fe3;}

#view-login, #view-forgot {
	position: absolute;
	width: 300px;
	height: 170px;
	background: #fff;
	margin-left: -150px;
	left: 50%;
	margin-top: -93px;
	top: 20%;
}

#view-forgot {
	/*height: 200px;*/
}

#view-login h2, #view-register h2, #view-disclaimer h2, #view-forgot h2 {
	text-align: center;
	background: #eee;
	padding: 10px 0;
	margin-bottom: 10px;
	font-weight: bold;
}

#login-username, #login-pwd, #register-fname, #register-lname, #register-email, #register-pwd, #register-pwdRpt, #register-description, #register-username, #register-website {
	width: 265px;
	margin: 0 0 0 10px;
	padding: 5px 10px 5px 5px;
	border: 1px solid #ccc;
}

#register-website {
	margin-top: 50px;
}

#register-upload {
	position: absolute;
	margin: 0 0 0 40px;
	padding: 5px 10px 5px 5px;
	top: 385px;
	left: 40px;
	clear: left;
}

#register-description {clear: both; margin-top: 5px; resize: none; font-family: Verdana, Arial, sans-serif;}
#login-username {margin: 10px 0 5px 10px;}
#lblAvatar {clear: left; margin-top: 10px;}
#lblAvatar, #register-upload {float: left;}

#login-btn, #register-btn, #fpwd-btn {
	width: 100%;
	height: 30px;
	clear: both;
	background: #009fe3;
	border: none;
	margin-top: 10px;
	color: #fff;
	cursor: pointer;
}

.closeBtn {
	float: right;
	padding: 10px 15px;
	background: #ccc;
	color: #fff;
	cursor: pointer;
}

#view-login .closeBtn, #view-register .closeBtn, #view-disclaimer .closeBtn, #view-forgot .closeBtn {margin: -42px 0 0 0;}

#forgot-username, #forgot-email {
	width: 95%;
	padding: 5px 3px;
	margin: 0 0 5px 5px;
}

.txtForgot {
	color: #000;
	background: none;
}

.txtForgot:hover, .txtForgot:active, .txtForgot:focus {background: none;}

#view-register {
	width: 300px;
        margin: 0 auto;
	background: #fff;
	margin-top: 120px;
}

input#register-upload {
	margin-top: 40px;

}
#view-register textarea {
    margin: 0 8px ;
	padding: 3px 5px;
	font-family: Verdana, Arial, sans-serif;
	resize: none;
        width: 272px;
        height: 100px;
}

#view-disclaimer {
	position: absolute;
	width: 400px;
	height: 390px;
	background: #fff;
	margin-left: -150px;
	left: 50%;
	margin-top: -93px;
	top: 20%;
	z-index: 99;
}

#view-disclaimer ul {
	width: 330px; 
	padding: 15px 0 15px 15px; 
	margin-left: 27px; 
	border-top: 1px solid #ccc; 
	border-bottom: 1px solid #ccc;
}

#view-disclaimer li {list-style-type: disc; margin-bottom: 2px;}

#view-disclaimer p {
	margin: 10px;
}

#view-disclaimer a {
	color: #000;
	padding: 0;
}

#view-disclaimer a:hover {background: none;}

#view-register input {margin: 5px 0 0 10px;}
#view-register label {margin-left: 10px;}
#register-male {margin: 5px 0 0 0 !important;}

#register-btn {
	margin: 20px 0 0 0 !important;
}

#view-login, #view-register, #list-styles, #view-disclaimer, #view-forgot {display: none;}

footer {
	position: absolute;
	width: 100%;
	height: 30px;
	text-align: center;
	line-height: 30px;
	color: #fff;
	background: rgba(0, 0, 0, 0.8);
	bottom: 0;
	clear: both;
	z-index: 98;
}

/* Common class */

.txtBold {font-weight: bold;}
.txtItalic {font-style: italic;}
.txtUnderline {text-decoration: underline;}
.txtUppercase {text-transform: uppercase;}

.btnBlack {
    color: #fff;
    background: #000;
    padding: 8px 10px;
    text-decoration: none;
    cursor: pointer;
}

.btnNavigate {
    width: 91%;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background: #009fe3 !important;
    color: #fff !important;
    border-radius: 3px;
    margin-top: 10px !important;
    display: block;
    text-decoration: none;
}

.btnNavigate:hover {font-style: italic;}
.btnNavigate:focus, .btnNavigate:active {font-weight: bold;}

/* Hide tablet/mobile css */

#nav-tablet, #nav-mobile {visibility: hidden;}

.iwContent {
    width: 100% !important;
}

.iwTitle {
    color: black;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
    margin: 5px 0 20px 0;
    font-weight: bold;
}

.iwUL li {
    list-style-type: circle !important;
    margin-bottom: 15px;
}