html, body {
    background: url('../../_assets/img/gent.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header {
    width: 100%;
    height: 200px;
    top: 0;
    background: url('../../_assets/img/header.jpg') center center no-repeat;
    background-size: cover;
    clear: both;
    z-index: 98;
}

.slider-wrapper {
    position: absolute; 
    width: 100%;
    max-height: 100px !important; 
    top: 0;
    left: 0;
    z-index: 98;
}

header h1 {
    width: 350px;
    height: 100px;
    font-size: 50px;
    color: #fff;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    line-height: 80px;
    padding: 20px 0;
    margin: 20px 0 0 20px;
    text-align: center;
    float: left;
    font-family: 'Pacifico', cursive;
    font-weight: normal;
    font-style: normal;
}

#menu-mobile, .btn-user {display: none;}

#buttons-header {
    position: absolute;
    float: right;
    right: 5px;
    margin: 160px 3px 0 0;
    z-index: 98;
}

#buttons-header a:first-child {
    padding: 7px 10px;
    border-radius: 5px;
    margin: 3px 3px 0 0 !important;
}

#buttons-header a{text-decoration: none;}

.btn-login {margin: 3px 2px 0 0;}
.btn-register {margin: 20px 0 0 0 !important;}
#btn-style {margin: 3px 0 0 -6px;}

.btn-success {background: none;}
#output-data, #map_canvas {height: 380px !important; width: 650px !important;}
.gmnoprint:nth-child(4) {display: none;}

#content, #content-profile {
    width: 960px;
    min-height: 80%;
    background: blue;
    clear: both;
    margin: 0 auto;
    margin-top: 50px;
}

#intro img {
    width: 300px;
    float: right;
    margin: 10px 65px 0 0;
}

#content-profile {
    padding: 20px;
    background: #eee; 
    border: 1px solid #ccc; 
    color: #333;
}

#content-profile h1 {
    margin-bottom: 20px;
}

#content-profile a {
    padding: 8px 10px;
    margin-right: 10px;
    text-decoration: none;
}

#content-profile li {
    margin-bottom: 20px !important; 
    clear: both;
    display: block;
    min-height: 20px;
}

#content-profile .txtBold {
    width: 200px;
    float: left;
}

#content-profile li .txtVal {
    max-width: 300px;
    float: right;
    margin-right: 500px;
}

#choose-data, #show-data {float: left;}

#choose-data {
    width: 260px;
    min-height: 100px;
    color: #fff;
    background: #008045;
    clear: left;
    border-radius: 5px;
    border-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

#choose-data li {padding: 0 0 10px 0; border-bottom: 1px solid rgba(255, 255, 255, 0.25); clear: both;}
#choose-data li:first-child {border-top: 1px solid rgba(255, 255, 255, 0.25); padding-top: 10px;}
#choose-data li:last-child {border-bottom: none;}

#choose-data li input {
    margin-top: -9px !important;
    top: -10px;
    margin-bottom: 10px !important;
    display: block;
    width: 15px;
    height: 15px;
}

ul#selData {margin: 0;}

ul#selData input {
    width: 15px !important;
    height: 15px !important;
    top: -5px !important;
    margin: -20px 0 0 0 !important;
    right: 0 !important;
}

ul#selData li {max-height: 20px !important;}
.liRight {float: right; margin: 3px -20px 0 0;}
#choose-data select {margin: 10px 0 0 10px; width: 180px;}

#container {
    position: absolute;
    width: 100%;
    min-height: 89.6%;
}

#content h3 {
    font-family: 'Pacifico', cursive;
    font-size: 20px;
    text-align: center;
    font-weight: normal;
    font-style: normal;
    padding: 0;
    margin: 0;
}

#show-data {
    width: 690px;
    height: 620px;
    background: #008045;
    color: #fff;
    clear: right;
    margin-left: 9px;
    border-radius: 5px;
    border-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

#compare, #intro {
    width: 938px;
    height: 230px;
    background: #eee;
    border: 1px solid #008045;
    color: #008045;
    padding: 10px;
    margin: -30px 0 20px 0;
    display: block;
    float: right;
}

#intro {
    height: 180px;
    border-radius: 5px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    border: none;
    padding: 10px 20px !important;
    width: 920px;
}

#compare p {margin-bottom: 20px;}

.dataSet1, .dataSet2 {font-style: italic; font-weight: bold;}

#intro {height: 180px;}

#intro p {
    width: 500px;
    margin-bottom: 20px;
    color: #000;
}

#compare h3, #intro h3 {
    margin: 10px 0 20px 0;
}

#c1, #c2, #c3 {
    width: 290px;
    height: 180px;
    display: block;
    float: left;
    padding: 0 10px;
}

#c1 li {padding: 10px;}
#c1 li:hover {background: #ddd;}

#c1UL {
    max-height: 150px;
    overflow: auto;
    cursor: pointer
}

#compare h4 {
    text-transform: uppercase;
    border-bottom: 1px solid #008045;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.detail-data p {
    float: left;
    width: 500px;
    color: #333;
    line-height: 18px;
}

.iwContent, .iwContent {
    background: inherit;
    margin: 0;
    padding: 0;
    color: black;
    width: auto;
    height: auto;
}

#contentIW {max-width: 400px !important; max-height: 300px !important;}

#map_canvas {height: 600px !important; width: 670px !important; margin: 10px 0 0 10px;}
#choose-data * {padding: 10px;}
#views, #view-login, #view-register, #view-forgot {z-index: 99 !important;}

#overlay, #overlay-view {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 98;
    display: none;
}

#profileEdit {max-width: 810px; float: left;}

#editCancelBtn {
    position: absolute;
    padding: 9px 10px;
    top: 162px;
    right: 100px;
    text-align: center;
    background: #eee;
    color: #000;
    border: 1px solid #333;
    border-radius: 5px;
    z-index: 100;
}

#editCancelBtn:hover {
    background: #008045;
    color: #fff;
}

#list-styles {
    position: absolute;
    width: 100px;
    text-align: right;
    background: #555;
    color: #fff;
    list-style: none;
    margin: 7px 0 0 78px;
    cursor: pointer;
}

#list-styles li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

#list-styles li:hover, #list-styles li:active {background: #333;}
.clicked, .cyanBtn {background: #009fe3;}

#view-register, #view-login, #view-forgot {
    position: fixed;
    width: 340px !important;
    background: #fff;
    padding-bottom: 15px !important;
    margin: 20px 0 0 -170px;
    left: 50%;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
    z-index: 99;
}

#view-register h2 {padding-right: 20px;}
#view-register {padding: 0 10px 10px 0;}

#view-register .ui-header.ui-bar-a.ui-title {
    padding-right: 10px !important;
    width: 340px;
}

#view-forgot {padding-right: 22px;}
#view-forgot h2 {width: 362px;}

#view-login h2, #view-register h2, #view-disclaimer h2, #view-forgot h2 {
    text-align: center;
    background: #eee;
    padding: 10px 0;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
}

#login-username, #login-pwd, #register-fname, #register-lname, #register-email, #register-pwd, #register-pwdRpt, #register-description, #register-username, #register-website, #forgot-username, #forgot-email {
    width: 273px !important;
    margin: 0 0 0 10px !important;
    padding: 5px 10px 5px 5px;
    border: 1px solid #ccc;
}

#login-username, #forgot-username {
    padding: 10px 10px 10px 40px !important;
    background: url('../../_assets/img/icons/register/icon-username.png') #fff no-repeat left center / contain;
    border: 1px solid #ccc;
}

#forgot-email {padding: 10px 10px 10px 40px !important;}

#login-pwd {
    padding: 10px 10px 10px 40px;
    background: url('../../_assets/img/icons/register/icon-pwd.png') #fff no-repeat left center / contain;
}

#register-fname {background: url('../../_assets/img/icons/register/icon-user.png') #fff no-repeat left center / contain;}
#register-pwd {background: url('../../_assets/img/icons/register/icon-pwd.png') no-repeat left center / contain;}
#register-email, #forgot-email {background: url('../../_assets/img/icons/register/icon-mail.png') no-repeat left center / contain;}
#register-sex {background: url('../../_assets/img/icons/register/icon-sex.png') no-repeat left center / contain;}

#textarea-a {
    max-width: 273px;
    margin-top: 8px !important;
    background: url('../../_assets/img/icons/register/icon-desc.png') no-repeat left top;
}

#register-website {
    background: url('../../_assets/img/icons/register/icon-url.png') no-repeat left center / contain;
    margin-top: 50px;
}

#register-description {clear: both; margin-top: 5px; resize: none; font-family: Verdana, Arial, sans-serif;}

#view-login #login-username, #view-login #login-pwd {
    width: 253px !important;
    margin: 10px 0 5px 10px;
}

#lblAvatar {clear: left; margin-top: 10px;}
#lblAvatar {float: left;}

.closeBtn {
    float: right;
    padding: 10px 15px;
    background: #ccc;
    color: #fff;
    cursor: pointer;
}

.closeBtn:hover {background: #008045;}

#view-login .closeBtn, #view-register .closeBtn, #view-disclaimer .closeBtn, #view-forgot .closeBtn {margin: -57px 8px 0 0;}

#view-login .ui-btn-inner {display: none;}
#view-login .btn-success {width: 310px; margin-left: 5px;}
#view-forgot .btn-success {width: 323px; margin-left: 10px;}

#forgot-username, #forgot-email {
    width: 95%;
    padding: 5px 3px;
    margin: 0 0 5px 5px;
}

.txtForgot {
    color: #777 !important;
    font-style: italic;
    font-weight: bolder;
    text-decoration: underline;
    background: none;
    margin: 0 0 -10px 20px !important;
}

.txtForgot:hover, .txtForgot:active, .txtForgot:focus {background: none;}

.inputRight {
    width: 897px !important;
    float: left !important;
    padding: 10px 0 10px 40px !important;
    margin: 0 0 15px 10px !important;
}

.frmMLeft {margin-left: 30px !important;}
#sex-element label {float: left;}
input#register-upload {margin-top: 40px;}

#view-register textarea {
    margin: -10px 8px -15px 10px !important;
    padding: 3px 5px;
    font-family: Verdana, Arial, sans-serif;
    resize: none;
    border-color: #ccc;
    max-height: 100px;
}

#view-disclaimer {
    position: fixed;
    width: 400px;
    background: #fff;
    margin-left: -200px;
    left: 50%;
    top: 250px;
    z-index: 100;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}

#view-disclaimer ul {
    width: 330px; 
    padding: 15px 0 15px 15px; 
    margin-left: 27px; 
    border-top: 1px solid #ccc; 
    border-bottom: 1px solid #ccc;
}

#mobileClose {display: none;}

#view-disclaimer h2 {width: 390px !important;}
#view-disclaimer h2, #view-disclaimer .closeBtn {margin-top: 0;}
#view-disclaimer li {list-style-type: disc; margin-bottom: 2px;}
#view-disclaimer p {margin: 10px;}
#view-disclaimer p:last-child {text-align: center; font-size: 11px;}
#view-disclaimer .closeBtn {margin: -55px 13px 0 0;}

#view-disclaimer a {
    color: #000;
    padding: 0;
}

#view-disclaimer a:hover {background: none;}

#view-register input {margin: 5px 0 5px 10px !important;}
#view-register label {margin-left: 10px;}
#register-male {margin: 5px 0 0 0 !important;}

#register-btn {
    width: 315px;
    margin: 30px 0 0 0 !important;
}

#view-login, #view-register, #list-styles, #view-disclaimer, #view-forgot {display: none;}
#view-register h2, #view-login h2, #view-forgot h2 {margin: 0 0 -7px 0; border-radius: 5px;}

footer {
    position: fixed;
    width: 100%;
    height: 60px;
    text-align: center;
    line-height: 30px;
    color: #333;
    font-size: 12px;
    line-height: 60px;
    bottom: 0;
    left: 0;
    background: #eee;
    clear: both;
    z-index: 99;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.3);
}

#btnsProfile {
    clear: both;
    margin-top: 30px;
    padding-top: 20px;
    border-top: 1px solid #ccc;
}

.icon-profile {
    float: left;
    display: block;
    width: 150px;
    
}

#btnProfile a:hover {
    background: inherit;
    color: #fff;
}

/* Common class */

.txtBold {font-weight: bold;}
.txtItalic {font-style: italic;}
.txtUnderline {text-decoration: underline;}
.txtUppercase {text-transform: uppercase;}
.txtCenter {text-align: center;}

.borderBtm {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

.fRight {float: right;}
.marginTop {margin-top: 30px;}
.forceDown {margin-top: -38px !important;}
.fontSmall {font-size: 11px;}

.btnGrey {
    background: #ccc;
    color: #555;
    padding: 8px 10px;
    margin: -8px 0 0 0 !important;
    cursor: pointer;
}

.btnGrey:hover {color: #fff;}

.btnBlack {
    color: #fff;
    background: #000;
    padding: 8px 10px;
    text-decoration: none;
    cursor: pointer;
}

.btnGreen {
    background: #008045;
    color: #fff;
    padding: 8px 10px;
    text-decoration: none;
    cursor: pointer;
}

.btnNavigate {
    width: 91%;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background: #009fe3 !important;
    color: #fff !important;
    border-radius: 3px;
    margin-top: 10px !important;
    display: block;
    text-decoration: none;
}

.btnNavigate:hover {font-style: italic;}
.btnNavigate:focus, .btnNavigate:active {font-weight: bold;}

.img-error {
    position: absolute;
    width: 600px;
    margin: 100px 0 0 -300px;
    left: 50%;
    clear: both;
}

#msg-error {
    width: 960px;
    height: 150px;
    padding-top: 100px;
    margin: 0 auto;
    text-align: center;
    clear: both;
    line-height: 18px;
}

#msg-error * {
    color: #000;
    text-align: center;
}

#msg-error a {
    position: absolute;
    width: 230px;
    top: 170px;
    left: 50%;
    margin: 50px 0 0 -115px;
    padding: 8px 10px;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
}

.padMedium {padding: 4px 10px 5px 10px !important; top: -39px;}

/* Hide tablet/mobile css */

#nav-tablet, #nav-mobile {visibility: hidden;}
.iwContent {width: 100% !important;}

.iwTitle {
    color: black;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
    margin: 5px 0 20px 0;
    font-weight: bold;
}

.iwUL li {
    list-style-type: circle !important;
    margin-bottom: 15px;
}

/* Force properties */
#view-register #login-username {width: 263px !important;}
#register-website {margin-top: -8px !important;}
#view-register .ui-btn-text:last-child, #view-forgot .ui-btn-text:last-child, .ui-loader {display: none;}
input#sex-m {margin-left: 22px !important;}
#logo, #logo * {color: white !important; text-decoration: none !important;}
#logo h1, #buttons-header {z-index: 99 !important;}

#logo h1 {
    position: absolute;
    display: block;
    top: 10px;
    left: 10;
}

header a:first-child {color: white !important;}
header a:nth-child(2) {color: #333 !important;}

.txtForgot {
    display: block;
    margin: 25px 0 0 13px !important;
}

.btnMobile {display: none;}