/* Do show mobile css */

html, body {
    font-family: Arial, Verdana, sans-serif;
    font-size: 100%;
}

#nav-desktop, #nav-tablet {display: none;}

a.menuBtn {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    color: #fff;
    top: 5px;
    right: 5px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    line-height: 30px;
}

#nav-mobile {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 3em;
    z-index: 99;
}

.ui-btn-inner {color: #000;}
.ui-btn-active .ui-btn-text {color: #fff;}

.dropdown-toggle {
    color: #fff;
    margin: 100px 0 0 0;
    z-index: 200;
}

.dropdown-toggle:hover {background: none; text-decoration: none; color: #fff;}

#view-login h2, #view-register h2, #view-disclaimer h2, #view-forgot h2 {
    height: 50px;
    line-height: 50px;
    text-align: center !important;
    background: linear-gradient(#444444, #2D2D2D) repeat scroll 0 0 #333333 !important;
    border: 1px solid #111111 !important;
    color: #FFFFFF !important;
    font-weight: bold !important;
    text-shadow: 0 1px 1px #111111 !important;
    border-radius: 1em 1em 0 0;
}

html, body {background: url('../../_assets/img/bg-mobile.jpg');}

header, a.logo {
    position: fixed;
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
    clear: both;
    z-index: 98;
    font-family: 'Pacifico', cursive !important;
    font-size: 0.8em !important;
    color: #fff;
    text-decoration: none;
    background-image: linear-gradient(bottom, rgb(6,125,0) 48%, rgb(0,148,17) 74%);
    background-image: -o-linear-gradient(bottom, rgb(6,125,0) 48%, rgb(0,148,17) 74%);
    background-image: -moz-linear-gradient(bottom, rgb(6,125,0) 48%, rgb(0,148,17) 74%);
    background-image: -webkit-linear-gradient(bottom, rgb(6,125,0) 48%, rgb(0,148,17) 74%);
    background-image: -ms-linear-gradient(bottom, rgb(6,125,0) 48%, rgb(0,148,17) 74%);

    background-image: -webkit-gradient(
            linear,
            left bottom,
            left top,
            color-stop(0.48, rgb(6,125,0)),
            color-stop(0.74, rgb(0,148,17))
    );
}

#logo h1 {
    width: 80%;
    display: block;
    float: left;
    text-align: center;
    background-image: linear-gradient(bottom, rgb(6,125,0) 48%, rgb(0,148,17) 74%);
    background-image: -o-linear-gradient(bottom, rgb(6,125,0) 48%, rgb(0,148,17) 74%);
    background-image: -moz-linear-gradient(bottom, rgb(6,125,0) 48%, rgb(0,148,17) 74%);
    background-image: -webkit-linear-gradient(bottom, rgb(6,125,0) 48%, rgb(0,148,17) 74%);
    background-image: -ms-linear-gradient(bottom, rgb(6,125,0) 48%, rgb(0,148,17) 74%);

    background-image: -webkit-gradient(
            linear,
            left bottom,
            left top,
            color-stop(0.48, rgb(6,125,0)),
            color-stop(0.74, rgb(0,148,17))
    );
}

header a {
    color: #fff !important; 
    font-weight: normal !important; 
    font-style: normal !important;
}

#navbar-mobile {
    position: fixed;
    width: 100%;
    height: 3em;
    bottom: -0.3em;
    left: 0;
    z-index: 1000;
    display: block;
}

#intro, #compare {
    max-width: 100%;
    min-height: 100% !important;
    height: 100% !important;
}

#intro, #compare {
    padding: 5% 0;
    color: darkgreen;
    height: 100% !important;
    display: block;
}

#intro *, #compare {
    max-width: 90%;
    margin-left: 5%;
    text-align: justify;
}

#intro img {
    max-width: 90%;
    margin: 2em 0 5em 5% !important;
}

#intro, #compare {
    position: absolute;
    width: 100%;
    height: 70%;
    top: 0%;
    left: 0;
    color: darkgreen;
}

#intro h3, #compare h3 {
    width: 90%;
    font-family: 'Pacifico', cursive !important;
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 2em;
    float: left;
}

#compare h4 {
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 1em;
}

#compare li {margin-bottom: 1em;}
#compare ul li:last-child {margin-bottom: 3em;}

#compare p {
    width: 90%;
    padding: 5%;
    line-height: 1.5em; 
    text-align: justify;
}

#cImg {
    width: 90%;
    padding: 5%;
}

#cImg img {max-width: 25%;}

#c1 {
    position: absolute;
    width: 20px;
    height: 20px;
    margin: -10px 0 0 -10px;
    left: 50%;
    top: 9.5em;
}

#c3 {float: right;}

.btn-user {
    position: fixed;
    width: 1em;
    height: 50px;
    top: 0.5em;
    right: 0.5em;
    display: block;
    z-index: 99;
}

.btn-user.ui-btn.ui-shadow.ui-btn-corner-all.ui-btn-inline.ui-btn-icon-notext.ui-btn-up-c, .btn-user.ui-btn.ui-shadow.ui-btn-corner-all.ui-btn-inline.ui-btn-icon-notext.ui-btn-hover-c {position: fixed;}

.title {
    position: fixed;
    left: 0 !important;
    width: 60%;
    top: 0.5em;
    left: 0 !important;
    background: none !important;
    z-index: 98;
}

#menu-mobile {
    position: fixed;
    width: 80%;
    margin: 5%;
    margin-top: 20px;
    padding: 5% 5% 0 5%;
    background: #fff;
    border-radius: 1em;
    border: 1px solid #ccc;
    z-index: 1000;
    display: none;
}

#mobileOUT li:nth-child(1) *, #mobileOUT li:nth-child(2) *, #mobileOUT li:nth-child(3) * {color: #fff !important;}
#mobileIN li:nth-child(1) *, #mobileIN li:nth-child(2) * {color: #fff !important;}
#menu-mobile li:nth-child(4) {margin: 4em 0 -2em 0;}
#mobileClose {margin: -1em 0 -2em;}
#menu-mobile ul {width: 100%;}

#menu-mobile li {
    width: 100%;
    display: block;
    border-radius: 5px;
    margin-bottom: 1em !important;
}

#intro img {
    width: 100%;
    margin: 2em 5%;
}

#intro p {margin-bottom: 2em; line-height: 1.4em;}

header h1 {
	width: 100%;
	height: 50px;
	font-size: 2em;
	color: #fff;
	background: rgba(0, 0, 0, 0.6);
	line-height: 50px;
	margin: 0 0 0 0.5em;
	font-family: 'DotDigital';
}

#buttons-header-mobile {
	position: absolute;
	width: 90%;
	height: 380px;
	left: -42%;
	margin-left: 45%;
	background: rgba(255, 255, 255, 0.8);
	border: 5px solid rgba(255, 255, 255, 0.1);
	border-radius: 10px;
	display: none;
	z-index: 99;
}

#buttons-header-mobile a {
	width: 90%; 
	float: right; 
	clear: both;
	background: #fff;
	margin: 0 auto;
}

#buttons-header-mobile .btn-login, #buttons-header-mobile .btn-register, #buttons-header-mobile button:first-child {
	width: 90%;
	float: left;
	display: block;
	color: green;
}

#buttons-header-mobile .btn-login {
	position: absolute;
	width: 40%;
	height: 60px;
}

#buttons-header-mobile a:first-child {
	margin: 50px 0 0 10px;
	width: 90%;
	color: black;
	text-decoration: none;
}

#buttons-header-mobile button:first-child {
	position: absolute;
	top: 20px;
	right: 0;
}

#styleDesktop {
	position: absolute;
	width: 94% !important;
	height: 30px;
	line-height: 30px;
	left: 0%;
	top: 60%;
}

#styleTablet {
	position: absolute;
	width: 94% !important;
	height: 30px;
	line-height: 30px;
	top: 64px;
	left: 0%;
}

#styleMobile {
	position: absolute;
	width: 94% !important;
	height: 30px;
	line-height: 30px;
	top: 108px;
	left: 0%;
}

#mobileDisclaimerBtn {
	position: absolute;
	width: 89.3% !important;
	top: 210px;
	left: 10px;
	text-align: center;
	text-decoration: none;
	color: #000;
}

.buttons-header-mobile a, .buttons-header-mobile li {
	height: 30px;
	display: block;
}

a#login-btn, a#register-btn, a#fpwd-btn, a#styleDesktop, a#styleTablet, a#styleMobile, a#mobileDisclaimerBtn, .dropdown-menu .ui-btn-icon-left .ui-btn-inner {
	height: 30px;
	display: block;
}

.dropdown-menu .ui-btn-icon-left .ui-btn-inner:nth-child(1) {
	position: absolute;
        width: 90%;
	line-height: 30px;
	margin: 0 0 -50px -16%;
	background: #fff;
	box-shadow: 3px #000;
	border-radius: 10px;
}

.buttons-header-mobile a.btn-login {
	height: 30px;
}

ul.dropdown-menu {
	position: absolute;
	width: 80%;
	height: 50%;
	top: 5%;
	left: 7%;
	margin-top: 20%;
	margin: 40% 0 0 3%;
	float: right;
	text-align: center;
}

ul.dropdown-menu li {
	position: absolute;
	width: 92%;
	margin-left: 5%;
}

ul.dropdown-menu li:nth-child(1) {top: -90px;}
ul.dropdown-menu li:nth-child(2) {top: -30px;}
ul.dropdown-menu li:nth-child(3) {top: 30px;}

a#mobileDisclaimerBtn.btn {
    width: 100%;
    height: 40px;
    margin-top: 100px;
    padding: 5px 0;
}

a#loginMobileBtn, a#registerMobileBtn {
    height: 40px;
    padding: 0 0 20px 0;
}

#buttons-header-mobile a.btn-register.btn {
    position: absolute;
    width: 41.5%;
    height: 30px;
    top: 20px;
    right: 10px;
    text-align: center;
    text-decoration: none;
    color: #000;
    line-height: 30px;
}

#buttons-header-mobile a.btn-login.btn {
    position: absolute;
    width: 41.5%;
    height: 30px;
    top: -31px;
    text-align: center;
    text-decoration: none;
    color: #000;
    line-height: 30px;
}

#content {
    width: 100%;
    min-height: 50%;
    background: darkgreen;
    clear: both;
    margin: 0 auto;
}

#choose-data {float: left;}

#choose-data {
    min-width: 100%;
    min-height: 50%;
    color: #fff;
    background: #007090;
    clear: left;
    font-size: 0.9em;
    padding-bottom: 2.5em;
}

#choose-data h3 {
    color: darkgreen;
    font-family: 'Pacifico', cursive !important;
    font-size: 1.7em;
    text-align: center;
}

#container {
    position: absolute;
    width: 100%;
    min-height: 90%;
    top: 10%;
    left: 0;
}

#content h2 {
    font-size: 15px;
    text-align: center;
    clear: both;
}

#choose-data * {padding: 10px;}
#views, #view-login, #view-register {z-index: 99;}

#overlay, #overlay-view {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	background: rgba(0, 0, 0, 0.7);
	z-index: 98; 
	display: none;
}

#list-styles {
	position: fixed;
	list-style: none;
	cursor: pointer;
	margin: 99px 50px 0 2px;
}

#list-styles li {
	height: 30px;
	line-height: 30px;
	text-align: center;
}

.clicked, .cyanBtn {background: #009fe3;}

#view-register, #view-login, #view-forgot {
	position: absolute;
	width: 90%;
	background: #fff;
        margin: 0 auto;
	margin-left: 5%;
        border-radius: 1em;
	z-index: 99;
        overflow: visible;
}

#view-login .ui-submit.ui-btn.ui-shadow.ui-btn-corner-all.ui-btn-up-c:last-child, #view-login .ui-submit.ui-btn.ui-shadow.ui-btn-corner-all.ui-btn-hover-c:last-child {
    width: 90%;
    margin-left: 5%;
}

#login-pwd-label {
    display: none;
}

input#login-username {
    padding: 0.5em 0 0.5em 2.5em  !important;
    background: url('../../_assets/img/icons/register/icon-username.png') #fff no-repeat left center / contain;
}

input#login-pwd {
    padding: 0.5em 0 0.5em 2.5em  !important;
    background: url('../../_assets/img/icons/register/icon-pwd.png') #fff no-repeat left center / contain;
}

.txtForgot {
    font-size: 1em;
    font-style: italic;
    text-decoration: underline;
    margin-left: 1em;
}

#view-forgot a, #view-forgot a:hover, #view-forgot a:active, #view-forgot a:focus {
    background: none;
}

#view-login h2, #view-register h2, #view-disclaimer h2 {
	text-align: left;
	font-size: 15px;
	margin-bottom: 10px;
	font-weight: bold;
	margin-top: -10px;
	color: #fff;
	background-color: #006dcc;
	background-color: #0044cc;
	background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
	background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
	background-image: -o-linear-gradient(top, #0088cc, #0044cc);
	background-image: linear-gradient(to bottom, #0088cc, #0044cc);
	background-repeat: repeat-x;
	border-color: #0044cc #0044cc #002a80;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

#fpwd-btn {
    background: linear-gradient(#6FACD5, #497BAE) repeat scroll 0 0 #5E87B0;
    border: 1px solid #456F9A;
    border-radius: 10px 10px 10px 10px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
    margin: 10px 0 0 10px;
    text-shadow: 0 1px 1px #3E6790;
    width: 95%;
    height: 30px;
}

#view-login, #view-register, #view-forgot {
    padding-bottom: 2em;
}

#view-login h2, #view-register h2, #view-forgot h2 {
    border-radius: 1em 1em 0 0;
    text-align: left !important;
    padding-left: 1.5em;
}

#view-login .ui-input-text.ui-shadow-inset.ui-corner-all.ui-btn-shadow.ui-body-c {
    width: 90%;
    margin-left: 5%;
    padding: 0;
}

#login-username, #login-pwd, #register-fname, #register-lname, #register-email, #register-pwd, #register-pwdRpt, #register-description, #register-username, #register-website {
	max-width: 90% !important;
	margin: 0 0 0 10px;
        padding: 0 !important;
}

input#register-pwd, input#register-pwdRpt, input#forgot-username, input#forgot-email {
	width: 89%;
}

#login-username, #login-pwd {
	width: 80%;
}

#register-website {
	margin-top: 50px;
}

#register-upload {
	position: absolute;
	margin: 0 0 0 40px;
	padding: 5px 10px 5px 5px;
	top: 385px;
	left: 40px;
	clear: left;
}

#register-description {width: 95%; clear: both; margin-top: 5px; resize: none; font-family: Verdana, Arial, sans-serif;}
#lblAvatar {clear: left; margin-top: 10px;}
#lblAvatar, #register-upload {float: left;}

#login-btn, #register-btn {
	width: 95%;
	margin: 10px 0 0 10px;
	color: #fff;
	cursor: pointer;
	border-radius: 10px;
	background: linear-gradient(#6FACD5, #497BAE) repeat scroll 0 0 #5E87B0;
    border: 1px solid #456F9A;
    color: #FFFFFF;
    font-weight: bold;
    text-shadow: 0 1px 1px #3E6790;
}

#login-btn {margin-top: 30px;}

#view-login a.txtForgot {
	color: #000 !important;
	margin-top: 15px;
}

#view-forgot .closeBtn {
	position: absolute;
	top: -20px;
	color: #000 !important;
}

#view-login a.txtForgot:hover {background: none; text-decoration: none;}

.closeBtn {
	position: absolute;
	width: 25px;
	height: 25px;
	right: 4px;
	padding: 0;
	top: 37px;
	background: #fff;
	border: 1px solid rgba(255, 0, 0, 0.6);
	border-radius: 25px;
	font-weight: bold;
	cursor: pointer;
	line-height: 25px;
	text-align: center;
	color: #fff !important;
}

#view-disclaimer .btn, #view-disclaimer span.closeBtn, #view-disclaimer a.closeBtn, #view-disclaimer .closeBtn a {color: #000 !important;}
#view-login .closeBtn, #view-register .closeBtn, #view-disclaimer .closeBtn {margin: -42px 0 0 0; color: #000 !important;}

#view-disclaimer {
	position: fixed;
	width: 90%;
	background: #fff;
	margin-left: 5%;
	top: 2em;
        border-radius: 1em;
        padding-bottom: 2.5em;
	z-index: 99;
}

#view-disclaimer .closeBtn {display: none;}

#view-disclaimer ul {
	width: 90%;
        margin-left: 5%;
        padding: 2em 0;
	border-top: 1px solid #ccc; 
	border-bottom: 1px solid #ccc;
}

#view-disclaimer p {
    width: 90%;
    margin: 1em 0 1em 5%;
}

#view-disclaimer #mobileClose {
    width: 90%;
    margin-left: 5%;
}

#view-disclaimer br {display: none;}

#view-disclaimer li {list-style-type: disc; margin: 0 0 0.5em 1em;}
#view-register input {margin: 5px 0 0 10px;}
#view-register label {margin-left: 10px;}
#register-male {margin: 5px 0 0 0 !important;}

#register-btn {
    margin: 20px 0 0 10px !important;
    background: none;
    border: none;
}

#view-login, #view-register, #list-styles, #view-disclaimer, #view-forgot {display: none;}
footer {display: none;}

.slider-wrapper, .slider-wrapper *, #choose-data, #show-data {display: none;}

#choose-data {background: #fff;}

#choose-data li {
    background: #86f9bf;
    color: #00552a;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1em;
    text-decoration: none !important;
}

.liLeft {
    width: 60% !important;
    float: left;
    color: darkgreen !important;
    padding-top: 1.2em !important;
}

#choose-data .ui-link {color: darkgreen !important; text-decoration: none;}

.liLeft:hover {font-style: italic;}

.liRight {
    max-width: 1em;
    max-height: 1em;
    float: right; 
    display: block;
    margin: 0.5em -1.5em 0 0;
}

a.liRight {
    background-image: url('../../_assets/img/icons/icon-data.png');
    background-repeat: no-repeat;
    background-position: center center;
}

a.liRight:hover {background-position: center center !important;}

#choose-data .liRight {
    display: block;
    float: right;
    width: 20% !important;
}

#choose-data li {
    width: 95% !important;
    display: block !important;
    float: left !important;
    clear: left !important;
    border-radius: 1em;
}

.liRight input {
    min-width: 100% !important;
    min-height: 100% !important;
    display: block !important;
}

.liRight .ui-checkbox {
    margin-top: -0.05em !important;
    top: -0.05em;
}

.btnFullWidth {width: 97%;}
.txtWhite, a.txtWhite {color: #fff !important;}

.btnHome.btnMobile.ui-btn.ui-shadow.ui-btn-corner-all.ui-btn-inline.ui-btn-icon-notext.ui-btn-up-c, .btnHome.btnMobile.ui-btn.ui-shadow.ui-btn-corner-all.ui-btn-inline.ui-btn-icon-notext.ui-btn-hover-c {
    position: fixed;
    top: 0.3em;
    right: 0.5em;
    z-index: 100;
}

#view-register {
    position: fixed !important;
    clear: both;
    width: 90%;
    top: 10%;
    left: 0%;
    padding-bottom: 0;
    max-height: 75% !important;
    overflow: auto !important;
}

#view-register h2 {padding-top: 1em;}

#view-register input {
    max-width: 80% !important;
    padding: 0.3em 0 0.3em 2.8em !important;
}

#view-register .ui-input-text.ui-shadow-inset.ui-corner-all.ui-btn-shadow.ui-body-c {
    max-width: 87% !important;
    margin-left: 5%;
}

#view-register .ui-radio-on, #view-register .ui-radio-off {
    max-width: 90%;
    margin-left: 5% !important;
}

#sex-m, #sex-f {margin-left: 20% !important;}

#view-register textarea {
    max-width: 90%;
    height: 10em;
    margin-left: 5%;
    padding: 0.8em 0.8em 0.8em 4em !important;
    resize: none;
    background: url('../../_assets/img/icons/register/icon-desc.png') #fff no-repeat 15px 10px;
}

#submit-element {
    max-width: 90%;
    margin-left: 5%;
}

#register-pwd {background: url('../../_assets/img/icons/register/icon-pwd.png') #fff no-repeat left center / contain;}
#register-fname {background: url('../../_assets/img/icons/register/icon-user.png') #fff no-repeat left center / contain;}
#register-email {background: url('../../_assets/img/icons/register/icon-mail.png') #fff no-repeat left center / contain;}
#register-website {background: url('../../_assets/img/icons/register/icon-url.png') #fff no-repeat left center / contain;}

#view-forgot {padding-bottom: 0.9em;}

#view-forgot input {
    max-width: 80% !important;
    padding: 0.3em 0.3em 0.3em 2.8em !important;
    margin-left: -0.2em !important;
    border: none !important;
    box-shadow: none !important;
}

#view-forgot .ui-input-text.ui-shadow-inset.ui-corner-all.ui-btn-shadow.ui-body-c {
    max-width: 87% !important;
    margin-left: 5%;
}

#forgot-username {background: url('../../_assets/img/icons/register/icon-user.png') #fff no-repeat left center / contain;}
#forgot-email {background: url('../../_assets/img/icons/register/icon-mail.png') #fff no-repeat left center / contain;}

#show-data {
    position: fixed !important;
    width: 100% !important;
    height: 91% !important;
    top: 3.1em;
    left: 0;
    background: #008eb7;
}

#show-data * {font-family: Arial, Verdana, sans-serif !important;}

#map_canvas, #output {
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
    top: 0;
    left: 0;
}

.txtBold {font-weight: bold !important;}
.txtCenter {text-align: center;}
.txtBlack {color: #000 !important;}

.pushDown {
    margin: 1.8em 0 -4em 0.5em !important;
}

#btnsProfile {display: none;}

#btnsProfile a {
    max-width: 25%;
    margin-right: 30%;
}

#btnsProfile a:last-child {margin-right: 0;}
img.icon-profile {display: none;}

#content-profile {
    width: 90% !important;
    margin: 5% 0 0 5% !important;
}

#content-profile h1 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 1em;
}

#profileEdit {
    margin-top: 2em;
    padding-top: 2em;
    border-top: 1px solid #ccc;
}

#profileEdit li {margin-bottom: 1em;}
.txtBold {font-weight: bold;}
.txtVal {float: right;}

.iwContent {width: 100% !important;}

.iwTitle {
    color: black;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
    margin: 5px 0 20px 0;
    font-weight: bold;
}

.iwUL li {
    list-style-type: circle !important;
    margin-bottom: 15px;
}

.contentIW {
    overflow: hidden !important; 
    padding-bottom: 1em;
}

.gm-style-iw {height: inherit !important;}

.btnNavigate {
    width: 100%;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background: #009fe3 !important;
    color: #fff !important;
    border-radius: 3px;
    margin-top: 10px !important;
    display: block !important;
    text-decoration: none;
    font-weight: normal !important;
    font-style: normal !important;
    box-shadow: none !important;
}

.btnNavigate:hover {font-style: italic;}
.btnNavigate:focus, .btnNavigate:active {font-weight: bold;}